<html>
<head>
    <title>Index Page</title>
    <style type="text/css">
        h1{
            color: orange; 
            background-color : green;
            text-align: center;
            font-size: 35px;
        }
        h2{
            color: green;
            background: orange;
            text-align: left;
            font-size: 30px;
        }
        p{
            font-size: 20px;
            color: green;
        }
    </style>
</head>
<body>
    <h1>Welcome to Question Detail Page</h1>
    <a href="/polls/">Back</a>
    <h2><b>Question Name: </b>{{ questiondata.question_text }}</h2>

    {% comment %} Get choise of related question {% endcomment %}
    <ul>
    {% for choice in questiondata.choice_set.all %}
        <li>{{ choice.choice_text }} {{ choice.pk }} {{ choice.votes }} {{ choice.question_id }}</li>
    {% endfor %}
    </ul>
</body>
</html>